[2017-09-29 16:32] mblodorn opened #1 "Improve "Meet Someone New""
The feature is listing a lot of ghost users, I think that this should be improved to list only users that meets some requirements, like:

- At least one project
- Recent activity
- Profile picture (?)

What do you guys think?

[2017-10-04 13:45] treyhuffine commented on #1
I think that's a great idea @mblodorn. I also would like to make it specific to the logged in user, so I'll see if I can match people with similar interests as well.

[2017-10-09 14:15] mblodorn opened #2 "Add google analytics to gitconnected"
Hey,

I was wandering between gitconnected files and noticed that google analytics is not imported in the html file. Not sure if it's somewhere else or not present at all, but Google Analytics is easy to setup and provides a lot of useful information that can help gitconnected to grow.

[2017-10-09 14:16] treyhuffine commented on #2
Thanks for looking into that! We're actually injecting Google Analytics via Google Tag Manager.

[2017-10-09 14:18] mblodorn commented on #2
Great! I guess that we can close the first issue then. 🥇

Thanks for the fast reply!

[2017-10-09 14:18] #2 closed

[2017-10-09 17:05] mblodorn opened #3 "Follow Feature"
During a slack conversation some points about the follow/unfollow feature were discussed, like:

-> Follow feature should be synced with github? If so, should it be optional?
-> Should we have a more personal way to connect to people ("friending)  besides "following"?

Bringing the discussion to an issue to have everything documented.

[2017-10-15 21:00] city41 opened #4 "Ability to edit email addresses"
Hey gitconnected is pretty cool! Thanks for building it.

It'd be nice if we could edit the email addresses in our profile. You guys managed to find an ancient email address of mine that is no longer active, would like to delete it.

[2017-10-15 21:01] city41 opened #5 "Featured blog posts"
It'd be nice if along with projects, we could feature blog posts and articles we've written.

[2017-11-07 20:14] treyhuffine commented on #5
Thanks for the feedback @city41! We now have a posting feature. I really like the idea of being able to feature articles and blogs posts as well. I'll add that to our feature list pipeline.

[2017-11-07 20:14] treyhuffine commented on #4
Agreed, that's essential. I'll look at adding that for you. Sorry for the late feedback, I didn't realize people were actively using our issues already :)

[2018-03-30 08:33] SkyzohKey opened #6 "Public API"
Hey guys,

Would it be possible to expose a public GraphQL API so that I could build a mobile client ?

Thanks in advance ! :)

[2018-03-30 10:30] treyhuffine commented on #6
Hey @SkyzohKey, we're very excited about your interest! We currently utilize a REST API if you're interested in building around that. I would be happy to get you some docs. We plan to build a GraphQL API in the future, but the start date for that is unknown.

Our authentication scheme is only built for web right now, so to start, you may only be able build views around public routes - viewing prof

[2018-03-30 12:35] SkyzohKey commented on #6
@treyhuffine I can also work with a REST api of course, will just need some redux/redux-thunk/fetch love, :p

[2018-10-05 13:12] treyhuffine opened #7 "News feed Chrome Extension and chat bot"
Be able to get a real-time feed of news posts coming in (ability to get by category) or get a digest at a desired time interval

[2018-11-15 20:44] Trewaters opened #8 "Voting on Tutorials and courses"
I was looking through the list of tutorials and courses when I thought of this.

Personally I refrain from "liking" or voting on articles until I have vetted them, to some degree. In this case I clicked on a tutorial from "Home / Coding Tutorials / React" (https://gitconnected.com/learn/react). When I did that a new window opened, which is great. After I was done with the article I wanted to "vote

[2018-11-18 12:29] treyhuffine commented on #8
Or maybe a way to bookmark it.  What do you think would be better @Trewaters - remembering all recent tutorials permanently or remembering recent tutorials in the current browser session and allowing users to bookmark the ones they like for longterm access?

[2018-11-18 20:37] treyhuffine commented on #8
Got it, makes total sense. So do you think the current implementation covers the pain points you were having?

[2018-11-18 21:06] Trewaters commented on #8
I think you nailed it!

Not obtrusive or jarring. Just enough of a reminder for someone like me that is trying to test the article before I actually up vote it.

I like how there are words communicating to the user. Plus you added a highlight, in a different color to bring my eye to the change. Bravo!

[2018-11-18 22:50] treyhuffine commented on #8
Awesome! 😄 I'm going to mark this issue as closed. Let me know if you have any other suggestions.

[2018-11-18 22:50] #8 closed

[2019-11-03 03:07] treyhuffine commented on #6
Apologies for the very long delay here @SkyzohKey - we're beta testing our first API release. It's a user's profile wrapped into a JSON résumé API. If follows the patter GET gitconnected.com/v1/api/resume/{username}

So mine would be - [https://gitconnected.com/v1/api/resume/treyhuffine](https://gitconnected.com/v1/api/resume/treyhuffine)

[2019-11-03 03:08] treyhuffine commented on #5
@city41 sorry for the very long delay on getting back to you, but this feature does exist in the web app now. Thanks a bunch for getting the idea out there!

[2019-11-26 17:37] #1 closed

[2019-12-12 01:26] tjdavis3 opened #9 "Import an initial profile"
It would be helpful to be able to import an initial profile.  Either something like an API integration with things like linked-in, or even the ability to import an initial jsonresume if one has already been created on another platform.

[2019-12-12 13:08] treyhuffine commented on #9
Really great idea @tjdavis3 - I was trying to think of the best way to reduce the friction of creating a profile, and this makes a lot of sense. I'll try to get this prioritized as quickly as I can, and I'll let you know when it's ready.

If you have any other feedback, create an issue anytime. It's always incredibly helpful. :)

[2019-12-14 20:25] billhong6981 opened #10 "Sync portfolios with"

[2019-12-14 20:27] billhong6981 opened #11 "Sync portfolios with GitHub doesn't work"
same as the topic above

[2019-12-14 22:37] treyhuffine commented on #11
Thanks for submitting an issue @billhong6981. Could you describe the issue you're seeing a little more, and I'll look into as soon as I understand the bug.

[2019-12-15 22:33] billhong6981 commented on #11
Hi Trey
Nice work man. I used gitconnected.com to build my portfolio api, after creating my profile, then I realized that some project in github are not necessary now, I go to delete those repos and come back gitconnected to sync but the old project name still there.

As pictures above, I don’t have the first repo “gitconnected-feedback”, the second repo “github-slideshow” has been deleted, but st

[2019-12-16 20:21] treyhuffine commented on #11
I really appreciate the kind words and taking the time to write such detailed feedback. I excited to help out and get it resolved!

My original intent was that syncing projects with GitHub would purely be additive, but I can take another look at this if it isn't preferred or unintuitive. Since in `/projects`, users can add non-opensource projects from outside of GitHub or things on the GitHub side

[2019-12-17 05:12] billhong6981 commented on #11
Hi, Trey
Thanks for your explanation, now I understand your point. thanks again.
I tried to run the clone project in Ubuntu 16.04, but it fails to compile.
[image: Screen Shot 2019-12-16 at 8.22.09 PM.png]

But I try to run the App in MacBook terminal, yes, it works. cool!

Regards
Bill

On Mon, Dec 16, 2019 at 12:21 PM Trey Huffine <notifications@github.com>
wrote:

[2019-12-17 15:27] treyhuffine commented on #11
Unfortunately I'm inclined to think that's a cross-environment bug with Create React App which is a bummer. I didn't try to get too adventurous with how I used it, and I can't think of what else in the code would cause it.

Thanks again for the help, and I'm excited to have you in the community! I'm going to continue to iterate on this feature, so if you ever have any more feedback, I would love t

[2019-12-18 06:59] naguibihab opened #12 "Question: Can i generate a PDF?"

[2019-12-18 13:18] treyhuffine commented on #11
Going to close these for now. Feel free to create another if you have more feedback or a question :)

[2019-12-18 13:19] #11 closed

[2019-12-18 13:19] #10 closed

[2019-12-18 13:22] treyhuffine commented on #12
This is actually the next big feature we want to add to the web app. We will allow you create PDF resumes using themes or custom CSS.

At the moment you can do it using the JSON Resume registry. You can learn more about it on[ their website](https://jsonresume.org/getting-started/) or about halfway down the page on the [portfolio API description on gitconnected](https://gitconnected.com/portfolio-

[2020-01-06 22:11] tiago-nunesgv opened #13 "muito bom"

[2020-01-21 15:13] treyhuffine commented on #13
Thank you!

[2020-01-21 15:13] #13 closed

[2020-03-03 15:08] mihan007 opened #14 "Team access"
I like your product. I have IT company, we provide outsource and out staffing services.

Often tech guys from client side want to overview our developers skills and projects they took part in. It suit your product features.

Is it possible to have something like company account and link developers to the company? And as final result based on your api we’ll create Team page at our site and some int

[2020-03-04 01:09] treyhuffine commented on #14
Thanks for your feedback, and I really like the idea! I've wanted to add organizations but haven't had the chance to think it out yet.

Unfortunately, I don't think I'll have the time to implement this in the short term, but I'll add it to the roadmap and update you once we're able to prioritize it.

I think a short term solution would be to ask your developers to give you their usernames. Then on

[2020-03-08 15:22] tan1193 opened #15 "Skills section doesn't show full experience"
Skills section doesn't show full experience when I export the profile into PDF file. Can you kindly help me to fix this?

[2020-03-08 22:17] treyhuffine commented on #15
Hi Tan, of course happy to help out. Can you describe a little more what issue you're having and what your expected behavior would be?

[2020-03-09 15:04] tan1193 commented on #15
![Untitled1](https://user-images.githubusercontent.com/13719355/76227339-c11d0900-6251-11ea-90d9-89dbc12939b8.png)

Kindly check the Image attached.

[2020-03-10 00:13] treyhuffine commented on #15
Thanks for the visual, that's super helpful. I'm wondering if numbers on the resume would be better than stars. This is one of the tricky things when designing a solution to fit everyone.

I'm actually working on open-sourcing all this code, and I'm wondering if it's best for me to focus on that. Then you'll have complete control and customize however you want. It would also have the ability to sh

[2020-03-26 04:49] aladine opened #16 "How to add courses I already completed"
I have some certificates of Coursera courses. Which section I should add into my resume builder.

[2020-03-27 16:36] treyhuffine commented on #16
Great question @aladine - my original intention was that online courses would go under the education section. What are your thoughts on it?

[2020-04-02 09:22] aladine commented on #16
That would be fine. I added my certificate in the education section. It looks like this https://gitconnected.com/aladine/resume

I have an online URL my certificate. It seems the education section doesn't have a field for URL link.

[2020-04-05 19:55] treyhuffine commented on #16
Thanks for sharing. I agree the education should contain a URL, that definitely makes sense. I'm gathering some more feedback and will include that when I address it.

[2020-04-29 18:30] vini46 opened #17 "Provision to add and display contact number"
The profile will be perfect and complete if we can have a space to add and display contact/mobile number

[2020-04-30 08:22] anexiole commented on #15
hey @treyhuffine , it's very valid that you are open sourcing the code but this is a very good tool and it would be good if it could just show the stats as mentioned by @tan1193 . It's your project at this moment, thus it's your call. If people want different representations, they can lend a hand in putting the alternatives in but for the current moment, there's nothing showing the skill's rating

[2020-05-01 12:44] treyhuffine commented on #17
Thanks @vini46 great feedback! I will put that on our list of fields to add and let you know when it's complete

[2020-05-01 12:50] treyhuffine commented on #15
Hi @anexiole thanks for the feedback. I definitely want to add this to the UI and also open source the tool. Unfortunately at the moment I'm very busy trying to release another project (https://skilled.dev/), but once it's complete my full focus is going to be back on the resume builder to improve and open source.

[2020-05-07 11:15] vini46 opened #18 "Un-even Page breaks in Exported PDF"
when profile content is more than one page, an Un-even page break is happening which is cutting the content.

<img width="856" alt="Screenshot 2020-05-07 at 4 43 41 PM" src="https://user-images.githubusercontent.com/5517009/81288396-322a4280-9082-11ea-9bfc-46e0bf7b4b28.png">

[2020-05-13 13:51] treyhuffine commented on #18
Wow, definitely need to figure out how to handle that. Thanks for reporting.

[2020-05-13 20:23] gabolaev opened #19 "Loss of new email addresses"
I just added a new email address to my profile on GitHub, but it didn't appear on gitconnected profile settings.

btw, I managed to make it primary via self-made cURL request, although it's definitely an issue, cuz there isn't still my new email address in the list

![image](https://user-images.githubusercontent.com/10693243/81860796-ebe84e00-956f-11ea-839e-325701aa9de5.png)
![image](https://user-

[2020-05-13 23:31] treyhuffine commented on #19
@gabolaev thanks for reporting, that's definitely a bug. Did you also log out and log back in and still no luck?

When you made the cURL request, did you have to provide the cookie as well or are you saying that you could change your email without the cookie?

I'll look into this ASAP, but if you want to give me your desired email, I can update it manually so that you don't have to wait for a fix.

[2020-05-13 23:44] gabolaev commented on #19
@treyhuffine relogin works! but yeah, it's better to fix that

thanks for quick answer!

[2020-05-13 23:59] gabolaev commented on #19
@treyhuffine about cookies

I used Chrome built-in “copy as cURL” feature for the XHR request, which switches the primary email address, and I manually changed the new email field, so I haven't done any cookie manipulations because they were simply copied with the entire request data (headers, body, etc)

[2020-05-14 00:12] treyhuffine commented on #19
Thanks for the info, and glad we could get it fixed! I'll add fixing this issue to our pipeline.

[2020-05-14 00:12] #19 closed

[2020-05-15 09:16] lincredibleJC opened #20 "Default resume.json generated does not work with templates on https://jsonresume.org/themes/"
Presently, the default resume.json generated does not work on any template on https://jsonresume.org/themes/

![image](https://user-images.githubusercontent.com/22949932/82032746-47c8e900-96ce-11ea-9b09-9ae953ab78e8.png)

The error message shows that the phone field in the generated json is null and has to be manually added into the gist.

It would be good to allow users to add a phone number to t

[2020-05-16 15:47] treyhuffine commented on #20
Thanks @lincredibleJC - I totally agree. This is top on my list and should land in production early this week. I'll let you know once it's live.

[2020-05-18 21:36] treyhuffine commented on #20
The feature has been added. You can add your phone number here - https://gitconnected.com/settings/phone

It's disabled by default, so you'll also need to turn it on using the resume configuration modal on your profile.

Let me know if you have any questions or additional feedback, and thanks for the help!

[2020-05-18 21:37] treyhuffine commented on #17
The feature has been added. You can add your phone number here - https://gitconnected.com/settings/phone

It's disabled by default, so you'll also need to turn it on using the resume configuration modal on your profile.

Let me know if you have any questions or additional feedback, and thanks for the help!

[2020-05-18 21:38] treyhuffine commented on #16
Thanks for your patience @aladine, this feature has been added. Let me know if you have any feedback or additional questions.

[2020-05-18 21:40] treyhuffine commented on #12
Apologies for not following, this feature has been added! Once you have an account, you can view your resume and download it as a PDF here - https://gitconnected.com/naguibihab/resume

[2020-05-18 21:40] #12 closed

[2020-05-18 21:40] #7 closed

[2020-05-22 05:07] ShubhamVerma1811 opened #21 "List all the projects in the API"
Hey!
In the API response, I see that only featured projects are added.
It would be nice if all our projects where available in the API

[2020-05-26 09:12] mayanksharma18 opened #22 "do not see my project section on pdf"

[2020-05-26 15:46] treyhuffine commented on #22
Have you selected them here? https://gitconnected.com/projects

[2020-05-26 15:47] treyhuffine commented on #21
Thanks for the feedback @ShubhamVerma1811! I'm worried that could be too much because some people have hundreds of projects. Could you give me a little more insight into how you invision using the full list of projects and why you wouldn't want to move them to be featured?

[2020-05-26 15:48] treyhuffine commented on #20
Closing this for now but let me know if you are still having issues

[2020-05-26 15:48] #20 closed

[2020-05-26 15:53] treyhuffine commented on #16
Closing for now. Let me know if there are more issues.

[2020-05-26 15:53] #16 closed

[2020-05-26 15:53] treyhuffine commented on #17
Closing for now. Let me know if there are more issues.

[2020-05-26 15:53] #17 closed

[2020-05-27 14:04] ShubhamVerma1811 commented on #21
That true, I didn't think of it
I wanted all the projects in API so thay I could display it on my portfolio.
Currently, I can only display featured ones.
I could make all those remaining projects as featured but then I think it would get added to the resume too, which I don't want.

[2020-05-27 15:19] mayanksharma18 commented on #22
Yes, i can see them now , forgot to click feature button but i still do not
see my eduction full details and awards on when i view my resume

*Mayank Sharma*
*+918982333823*
*Software Engineer at Seanergy Digital *
*Ex- NTT DATA | Ex- Dell | Amity University*

*LinkedIn
<https://www.linkedin.com/in/mayank-vikesh-kumar-sharma-73978270/> | GitHub
<https://github.com/mayanksharma18>*

On Tue, May 26,

[2020-05-28 18:45] mayankseanergy12 opened #23 "Activities and societies section in Education"
I have added Activities and societies section in Education and Honors and awards section too
but i can't see on pdf .

https://gitconnected.com/mayanksharma18/resume

[2020-05-28 19:53] VicenteQuesadaDeb opened #24 "Can't add alternate email"
I would like to change my email, but I can't modify either add another email on my profile.
Help!

[2020-06-01 14:52] treyhuffine commented on #21
That's a great point. The featured projects feature was actually added before the portfolio API/resume. I rolled that over into those new features, but I can see why you would want different projects in each. I'll think on way to better handle this to keep them separate without making it too complex to manage projects for each different aspect. If you have ideas, let me know.

[2020-06-01 14:53] treyhuffine commented on #22
Thanks for the details. What is missing from the education that expected to appear?

We're working for design to show awards and volunteer on the resume, and we'll add those ASAP.

[2020-06-01 14:54] treyhuffine commented on #23
Thanks for letting me know, we're working that incorporate those into the design and will get it released as soon as we can. I'll leave this issue open and update as soon as we have this fixed.

[2020-06-01 14:56] treyhuffine commented on #24
Hi @VicenteQuesadaDeb thanks for reaching out. So when gitconnected was originally created, it was more tightly coupled GitHub but we've been moving away from that. Emails are still one of the things that more coupled and it looks for emails from GitHub to populate your list. I know this is unfortunate, but the easiest way to do it at the moment is to add an email to github and then sign out and b

[2020-06-01 16:44] mayanksharma18 commented on #22
Activities

*Mayank Sharma*
*+918982333823*
*Software Engineer at Seanergy Digital *
*Ex- NTT DATA | Ex- Dell | Amity University*

*LinkedIn
<https://www.linkedin.com/in/mayank-vikesh-kumar-sharma-73978270/> | GitHub
<https://github.com/mayanksharma18>*

On Mon, Jun 1, 2020 at 8:23 PM Trey Huffine <notifications@github.com>
wrote:

[2020-06-05 07:03] vini46 commented on #17
Awesome, thanks mate.. this fix is working fine :)

[2020-06-30 17:01] itsmanojb opened #25 "No UI for Interest and Language Input"
The API response for `https://gitconnected.com/v1/portfolio/{username}` has following two properties,
[code]

But in https://gitconnected.com/ there's no such UI where one can put the interest or languages.
Even if there are, they are hard to find.
![image](https://user-images.githubusercontent.com/11155266/86154868-468a3900-bb21-11ea-81d8-c99bca15b1d9.png)

[2020-07-05 01:10] KVikram commented on #25
@treyhuffine This is much needed feature as it will complete JSON resume schema.

[2020-07-05 02:59] treyhuffine commented on #25
Hi @itsmanojb @KVikram thanks for the feedback. I had initially left that off because I wasn't sure if people used it and didn't want to make the UI too populated and difficult to parse. I'll work on that since you all need it. I'll reply here once it's ready.

[2020-07-05 03:00] #24 closed

[2020-07-08 16:36] tanishqjasoria opened #26 "Is there and option to import resume.json to directly fill out your profile?"

[2020-07-08 16:38] treyhuffine commented on #26
Not yet, but it's very high on the priority list. We are going to add a way to import JSON Resume or pull details from a LinkedIn profile

[2020-07-08 20:41] ninad458 opened #27 "User should be able to download the Resume in Word format"
Can I get the word file please. The resume doesn't show project description.
You have no control over the formatting. Some text of one project lies on the second page.

[2020-07-18 12:21] #26 closed

[2020-07-21 21:55] itsharsh opened #28 "Show Git Private Repos in Projects"

[2020-07-24 16:26] treyhuffine commented on #28
Hi @itsharsh it should already be pulling repos from organizations unless there was a change to the GitHub API. Can you share a link to the project you were expecting

[2020-07-24 16:35] itsharsh commented on #28
@treyhuffine
Yes, you are right, repos are being fetched from organisations.

Correction: It's not showing any private repo from the private or organization account.

[2020-07-24 16:39] treyhuffine commented on #28
Thanks for the insight. At the moment, I don't want to ask users for access to private repos through OAuth, because I think people will be hesitant to provide. I would recommend using the "Add a project" button on the `/projects` route where you can input the details without actually providing any private access.

<img width="1439" alt="Screen Shot 2020-07-24 at 11 38 22 AM" src="https://user-imag

[2020-07-24 16:50] itsharsh commented on #28
Yeah, I'm using that already.
But, it would have been easier if all private repos are fetched and shown on the resume.
My objective is to list that private project on the resume, with the demo link only.

[2020-07-25 15:48] itsharsh opened #29 "Awards & Publications Sections are missing in Resume"

[2020-07-27 19:31] tjdavis3 commented on #9
Any movement on this?

[2020-07-31 15:54] treyhuffine commented on #28
Unfortunately, I don't think we'll be prioritizing this at the moment. We used GitHub to pull private repos in the past, and people complained of needing to give access to private projects. It also has some potential legal issues if we gain access to private repos when the companies that host them haven't specifically condoned it.

[2020-07-31 15:55] treyhuffine commented on #27
Thanks for the feedback. I think the goal is to actually replace Word documents, so I'm not sure it's something on the roadmap to support at the moment.

We will definitely fix the styling issues though for the current resumes and also plan to add theming options.

[2020-07-31 15:57] treyhuffine commented on #29
Thanks for the feedback, we'll work on getting this added

[2020-07-31 15:58] treyhuffine commented on #9
Unfortunately not yet. I'm overloaded at the moment, and I still haven't figured out the best way to move on this. However, I plan to open source the entire project sometime before the end of 2020, so it should be much easier to build solutions with the community.

[2020-08-12 10:53] itsmanojb opened #30 "UI has broken"
* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* **Do you want to request a *feature* or report a *bug*?**
A design bug

* **What is the current behavior?**
UI has broken, due to missing stylesheet (I guess). Found error in chrome console. <br/>

![image](https://user-images.githubusercontent.com/11155266/90006969-86634500-dcb7-11ea-84af-0d29b5988d9b

[2020-08-12 15:23] #30 closed

[2020-08-12 15:25] itsmanojb commented on #30
Seems to be fixed now.

[2020-08-12 15:29] treyhuffine commented on #30
Thanks for the report @itsmanojb and following up. It looks like it may have been an issue with the CDN when you had originally visited the site.

[2020-08-12 15:32] itsmanojb commented on #30
I don't see delete option for this bug. Otherwise would have deleted this.

[2020-08-24 07:28] shohedul350 opened #31 "not working my profile api.."
{"statusCode":404,"error":"Not Found","message":"User not found or they have not enabled the resume/portfolio API"}

[2020-09-09 17:06] funzeye opened #32 "Cannot sign up"
When I try to sign up and connect with Github I get the following.
{"statusCode":500,"error":"Internal Server Error","message":"An internal server error occurred"}

I got email from Github to confirm the linking worked - but whenever I click sign up/log in button I get the above 500 error.

from github
"A third-party OAuth application (gitconnected) with read:org, read:user, and user:email scopes

[2020-09-09 17:12] treyhuffine commented on #32
Thanks for letting me know, I'll check the server logs and figure out what the issue is.

[2020-09-09 17:21] treyhuffine commented on #32
Is funzeye the username you tried to register with?

[2020-09-09 17:55] funzeye commented on #32
yes

[2020-12-05 09:38] SamDuffield commented on #29
+1 for this!

[2020-12-10 06:49] NoelHG opened #33 "Pagination, git connected profile, and resume file name displayed"
Basically there's some metadata being shown that doesn't seem intended.

Using Google Chrome, I am seeing pagination with the gitconnected profile link at the bottom. Not sure if intended. The gitconnected resume link seems unnecessary.

In the PDF, the file name (full name + "resume") and download date are shown at the top of every page. Not sure if intended, or needed.

[2020-12-10 13:12] treyhuffine commented on #33
Hi @NoelHG - can you send a screen shot of what you're seeing or DM me? I think this may be internal computer settings

[2020-12-10 13:14] treyhuffine commented on #33
Here's how mine exports
[Trey Huffine Resume.pdf](https://github.com/gitconnected/gitconnected-feedback/files/5672950/Trey.Huffine.Resume.pdf)

[2020-12-10 16:34] NoelHG commented on #33
Wow, you're absolutely correct. I hadn't noticed how terrible the defaults were on both my Chrome and Firefox.

[2020-12-10 16:34] #33 closed

[2020-12-12 20:03] #28 closed

[2020-12-12 20:05] treyhuffine commented on #31
Sorry, I somehow missed this. I just checked and it looks like it's working. Feel free to re-open if you're seeing issues.

[2020-12-12 20:05] #31 closed

[2020-12-12 20:08] treyhuffine commented on #21
I think the fastest solution to this is to just create a new API endpoint for projects so you can pull additional ones that aren't featured. I understand it's not ideal to make 2 API requests, but I don't think it will be good to add all projects to the portfolio API since I think most people are featuring the ones that they want included there.

[2020-12-12 20:11] treyhuffine commented on #32
I wasn't able to find anything in the logs, and this is the only report I've been alerted on. I think the only way to solve it is to hold a debug session sometime if you're interested. Feel free to reach out to me if you want to!

[2020-12-12 20:11] #32 closed

[2020-12-12 20:11] treyhuffine commented on #21
Tracking this here - https://github.com/gitconnected/gitconnected-feedback/projects/1#card-51134572

[2020-12-12 20:11] #21 closed

[2020-12-12 20:11] #27 closed

[2020-12-12 20:12] treyhuffine commented on #22
Thanks for the feedback! This is now being tracked in another issue, so closing this out

[2020-12-12 20:12] #22 closed

[2020-12-12 20:13] treyhuffine commented on #14
Tracking here - https://github.com/gitconnected/gitconnected-feedback/projects/1#card-51134631

[2020-12-12 20:13] #14 closed

[2020-12-12 20:14] #5 closed

[2020-12-12 20:14] #3 closed

[2020-12-12 20:15] #4 closed

[2020-12-12 20:15] #6 closed

[2020-12-12 20:17] treyhuffine commented on #18
I'm seeing on my end that this has been resolved. Going to close out but feel free to re-open if you're seeing other issues.

[2020-12-12 20:17] #18 closed

[2020-12-12 21:18] mblodorn commented on #3
Good to see that gitconnected became a success @treyhuffine !

[2020-12-15 19:07] treyhuffine commented on #3
Thanks @mblodorn! I hope you're doing well, we should catch up sometime!

[2020-12-16 11:15] lisovskyvlad opened #34 "Upload existed JSON Resume file to fill my resume!"
Good day everyone!

I'd created in past my resume using json-resume format in past before few minutes ago I discovered gitconnected.com.

Unfortunately, I don't see a feature to upload the file to pre-full my profile.

Could you consider that as a feature in future? Or may I just have missed it ;(

[2020-12-16 19:37] treyhuffine commented on #29
Sorry for the delay, this has been added! I'm putting a lot of time into this project now, and you should continue to see some big improvements. I will also be open sourcing everything next year so it can move much quicker and enable the community to build their own templates and solutions.

Let me know if you see any issues or have feedback.

[2020-12-16 19:37] #29 closed

[2020-12-16 19:39] treyhuffine commented on #34
Hi @lisovskyvlad this is very high on the list of improvements, but it doesn't exist yet. I'm hoping to have integrated very soon, and I'll respond here when it's available.

[2020-12-16 23:33] data219 commented on #34
:+1: That was the first feature I was looking for after finding gitconnected via the json resume homepage and already having started at my json resume. That feature would be very appreciated!

[2020-12-17 16:10] lisovskyvlad commented on #34
Thanks for updates! looking forward!

[2020-12-17 16:10] #34 closed

[2020-12-17 18:37] treyhuffine commented on #23
Sorry for the delay, these have been added!

[2020-12-17 18:37] #23 closed

[2020-12-18 02:31] Sergio16T opened #35 "Phone Number Very Close to First name"
Letter G is very close to the phone number below it. Not enough padding in PDF export.

<img width="76" alt="Screen Shot 2020-12-17 at 8 32 34 PM" src="https://user-images.githubusercontent.com/47071119/102567381-0440be00-40a7-11eb-9426-5a78434b48cf.png">

[2020-12-18 02:49] treyhuffine commented on #35
Thanks for reporting @Sergio16T. Would you mind sharing a larger screenshot or setting your resume to public so I can debug? I'm not able to reproduce the issue, but would be happy to take a look.

[2020-12-18 04:35] Sergio16T commented on #35
@treyhuffine No problem! Thank you for looking into it. I set my resume to public. Very awesome tool that you have built.

[2020-12-18 04:49] treyhuffine commented on #35
@Sergio16T thanks! I found the issue and should have it released sometime tomorrow. You can set your profile to private again anytime.

[2020-12-18 15:15] treyhuffine commented on #35
Alright this should be fixed now! Feel free to re-open if you're still seeing issues or create another ticket if you have other bug reports/feedback

[2020-12-18 15:15] #35 closed

[2020-12-18 19:27] Sergio16T commented on #35
@treyhuffine Thank you for your awesome speed resolving this! I created a new PDF export and the spacing has been resolved! Looks fresh! My favorite resume building tool for developers by far. Great work.

[2020-12-18 19:54] treyhuffine commented on #35
Thanks, I really appreciate that! This is just the beginning too, I plan to put a lot of work into the project this coming year.

[2020-12-26 20:33] treyhuffine commented on #25
This has been added. Let me know if you notice any issues or have additional feedback.

[2020-12-26 20:33] #25 closed

[2020-12-29 18:08] treyhuffine commented on #15
This has been added! Let me know if you have issues or feedback.

[2020-12-29 18:08] #15 closed

[2020-12-29 21:08] aburleigh94 opened #36 "Generated resume contains spelling error under education"
When navigating to my resume link, I see the following error in the education section:

![image](https://user-images.githubusercontent.com/5874218/103314135-151af900-49f0-11eb-9006-55303080c3d1.png)

[2020-12-29 22:49] treyhuffine commented on #36
Thanks for catching that! It should be fixed now

[2020-12-29 22:49] #36 closed

[2021-02-08 20:32] isopropylcyanide opened #38 "Bug | Awards not sorted by date"
Refer https://gitconnected.com/isopropylcyanide/resume

**Configuration:**
![image](https://user-images.githubusercontent.com/12872673/107277692-c777be80-6a7a-11eb-940a-354c79883507.png)

**Actual output that doesn't match expected**
![image](https://user-images.githubusercontent.com/12872673/107277651-b9c23900-6a7a-11eb-8df2-fc68f227087b.png)

Notice, 2020 comes before 2019.

[2021-02-09 18:24] ishanvyas22 opened #39 "Feature Request: Ability to mark particular section private"
I think it would be a great feature if user can make particular section (or in my case particular projects) private. So that when I generate my resume as a PDF it includes that private section but publically it shouldn't show to other users.

This would be great when a user have to hide some official details and not expose it publically.

[2021-02-09 18:47] ishanvyas22 opened #40 "Feature Request: Integrate WYSIWYG editor"
I'd suggest to integrate WYSIWYG editor in textarea fields for example at Edit experience popup's Summary field. A markdown editor same as GitHub would be cherry on the top as most Devs are familiar with markdown syntax.

[2021-02-11 21:53] Sergio16T opened #41 "Incorrect date ranges displayed in PDF and Order of employment is incorrect."
1)  PDF - shows end date Jan 2021 for end date that should be February 2021.
2) PDF - The start date for newest role should be Feb 2021 but shows January.
3) The roles are not in chronological order.  Most recent role should be at the top in displayed order followed by the contract roles in chronological order.
       -- would be a great feature add to be able to customize the order as well. Selec

[2021-02-13 00:28] treyhuffine opened #42 "Updates to projects"
- Adding a field "position" in featured projects. Like that, recruiters can easily see what was your role in the project without reading the entire description.
- "From" and "To" and the possibility to edit the project name after the creation.

[2021-02-13 03:37] treyhuffine commented on #38
Thanks for the bug report! This should be fixed. If you find any additional issues, let me know.

[2021-02-13 03:37] #38 closed

[2021-02-13 03:37] treyhuffine commented on #41
Thanks @Sergio16T! This should be fixed now. Let me know if you notice any other issues.

[2021-02-13 03:37] #41 closed

[2021-02-13 03:38] treyhuffine commented on #9
Sorry I forgot to update this - you can import JSON Resume now, and I'm looking into how to pull a LinkedIn profile

[2021-02-13 03:39] treyhuffine commented on #40
This is a very interesting idea. Let me think on the implementation and how it would fit in with everything.

[2021-02-13 03:40] treyhuffine commented on #39
Great idea. I'm exploring the best way to empowering users to handle their privacy.

[2021-02-13 19:59] isopropylcyanide commented on #38
This is fixed. Thanks for the quick action.

[2021-02-14 12:35] ShubhamVerma1811 opened #43 "Questioh: What services is used to convert uploaded images to various resolutions?"

[2021-02-15 13:44] tjdavis3 commented on #9
I ran across it on the site and was able to import my resume.  Thanks.  FWIW, I initially created my jsonresume from LinkedIn using the tools on jsonresume.org (I think).

[2021-02-15 13:44] #9 closed

[2021-02-16 13:27] treyhuffine commented on #43
https://kraken.io/

[2021-02-16 13:27] #43 closed

[2021-03-18 13:40] tjdavis3 opened #44 "Cannot edit past experience"
When I attempt to edit the description on any of my past experiences the "This is my current role" checkbox and description turn red when hitting save.  If I check it then it will remove the end date and I assume will let me save but would make this old job the "current" one.

Currently there is no way to go back and edit prior experience.

[2021-04-21 14:47] angelhodar opened #45 "Add JSON metadata to any resume section"
Allow to add key-value pairs for any other information that I want to retrieve in the API endpoint. For example, in my personal website I would like to add an extra key in any project with the link to a personal blog article to explain more aspects about the project. This would be a generalization for something like #42 (but with a basic key value pair UI to add data).

[2021-04-22 01:05] treyhuffine commented on #45
Great idea @angelhodar, I'll add this to the roadmap to add to the API

[2021-05-11 13:52] treyhuffine opened #46 "Add location to eduction"

[2021-05-11 21:58] treyhuffine opened #47 "Ability to edit displayName for a project"
Ex: "the "displayName" parameters of my projects seem like they are just taken from the github repo name. Is there a way to edit those so that, instead of say, "one_time_pad_cipher", I can get "One Time Pad Cipher" when I try to use the "displayName"?"

[2021-05-15 19:35] danielloader opened #48 "Resume Builder - Reference field length too short"
Simple request, trying to copy my existing references into the resume builder but the text field seems to be capped at 255 characters. Not sure if this is by design or not so thought to check.

[2021-05-16 22:47] treyhuffine commented on #48
Thanks for letting me know @danielloader, that field shouldn't be restricted. I've just pushed a fix. Let me know if you have any other feedback!

[2021-05-16 22:47] #48 closed

[2021-05-17 18:52] treyhuffine commented on #47
Complete

[2021-05-17 18:52] #47 closed

[2021-05-17 20:40] treyhuffine commented on #42
Completed

[2021-05-17 20:40] #42 closed

[2021-06-09 10:01] mettany opened #49 "Roles field misfunction"
On the Featured projects, if no value is present for the current project, the fields "Roles" contain the value of the previous selected project.

Steps to reproduce:

1. Open a project with a Roles value set.
2. Go back to Featured projects screen and open a project with no value for Roles
3. The field should contain the value of the previous project.

The API (https://gitconnected.com/v1/portfoli

[2021-07-08 04:54] DarshanSudhakar opened #50 "Showing the description for each projects in the PDF resume"
After adding the description section for a particular Project we are not able to see the Project description in the generated PDF.

In Project
![image](https://user-images.githubusercontent.com/8463823/124862904-d46def00-dfd3-11eb-865e-3c582fa17b42.png)

In PDF
![image](https://user-images.githubusercontent.com/8463823/124864278-45160b00-dfd6-11eb-8c74-19a03adc05db.png)

It would be great if we ca

[2021-08-14 14:14] davidmreed opened #51 "Feature request: sort Publications by date, or allow manual reordering"
Publications are shown in order of entry. It would be very useful to either (a) allow them to be manually reordered or (b) display them in reverse-chronological order (newest first).

[2021-08-17 15:55] SamDuffield opened #52 "Dates for Projects"
It would be great to be able to display the relevant dates for the Projects section in the same way you can for Education and Experience.

[2021-08-18 14:24] OPerel opened #53 "Project's stars and forks in the API data"
Hey,
First of all thanks for the great platform! :pray:
It would be really nice if we can get the number of start and forks for each project also in API data.
It's already visible in `/projects` and I would love to also display it in my portfolio.

Thanks again and good luck

[2021-08-19 15:49] treyhuffine commented on #50
Thanks @DarshanSudhakar great feedback, I'll prioritize getting this added.

[2021-08-19 15:52] treyhuffine commented on #49
Thanks @mettany - it sounds like this is two issues correct?

1. Bug with how roles are displayed
2. You're recommending null instead of an empty array

I'll look into #1 quickly.

I disagree on #2. I think an empty array is a sufficient way to indicate the absence of data, and it prevents the need for performing a null a check, and you can safely just use the array or check its length without fea

[2021-08-19 15:56] treyhuffine commented on #52
@SamDuffield great feedback, and I completely agree. I'll look into getting displaying these on the resume ASAP.

[2021-08-19 15:57] treyhuffine commented on #53
Great feedback @OPerel I completely agree. I'll look into getting this added. One challenge off the top of my head is figuring out how to keep the data consistent with GitHub and if there is anything that needs to be considered.

[2021-08-19 18:00] mettany commented on #49
@treyhuffine  For the second part, my description is not matching the real problem, sorry.

The jsonresume schema describe an array of string for the field "roles". Indeed, when there is no data, an empty array is logical. But the UI permit only one value and when the value is set, the API return a string instead of an array.

[2021-08-28 21:32] treyhuffine commented on #51
Thanks for the feedback! It's a bug that it's not chronological, so I'll fix that. I'll also look at reordering because I think that would also be valuable.

[2021-08-28 21:33] treyhuffine commented on #49
Thanks for explaining that, @mettany, that's definitely a bug. I'll look at getting it fixed.

[2021-09-05 03:11] DarshanSudhakar opened #55 "Making the Description of the Project use handle Rich text format"
'Gitconnected' is a well-thought product. The interface is beautiful and fulfills the job.

I am not sure about the underlying UI framework used in GitConnected. However, it would be great if the description text box for Projects can have a rich text box feature. Generally, the descriptions section provided by users would be more verbose and could have sizeable text. A bulleted list feature can ma

[2021-09-29 10:46] jagu-sayan opened #56 "Intl"
Hello @treyhuffine ,

Great project 🔥

It is possible to support multiple languages ? (In API and UI)

Good luck :)

[2021-11-01 21:50] tyirvine opened #57 "Add in a feature to make gitconnected profile private"
I noticed that when browsing in Incognito without a login, all resume information is public via the profile. It's good that the resume is private but it is redundant when all the information can be seen from the profile.

[2021-11-03 20:13] deven96 commented on #50
Any plans for this? @treyhuffine

[2021-12-02 09:45] gitstercode opened #58 "Bug on Import JSON"
Import JSON adding double entries in the UI/exported PDF.
For e.g theres a skill Python already, if I import JSON and Python gets added again. And after next import there will be three Python skills added.
Same thing for other items like Experience.

Expectation is that, it replaces the full profile with latest JSON import.

[2021-12-06 11:17] wuiler opened #59 "Change Profile Image"
Maybe we can change the profile images base on gravatar.com, so we could get different profile for our resume.
Great Jobs!!!
Thanks!

[2021-12-21 14:12] g-kartik opened #60 "Feature Request - Extend the height of the print PDF"
It looks ugly when two or three lines are gone on to the next page while printing as PDF.  Can we make the pdf height extend a bit to accommodate those lines?

[2021-12-26 22:21] treyhuffine commented on #55
Thanks @DarshanSudhakar! Let me think through this and get back to. I really like the idea of it but need to make sure it won't cause any unexpected issues.

[2021-12-26 22:24] treyhuffine commented on #56
@jagu-sayan I would love to do this. I need to scope out the effort of it. I do plan to open source a large chunk of the codebase at some point, so this may be a feature better suited for that once there are people who have more experience with it.

What is the typical way to handle it for an API? My initial thought is that you would pass a query string for the desired locale, and it will return e

[2021-12-26 22:26] treyhuffine commented on #58
I errored on the side of being non-destructive because I think it could be very frustrating to add a bunch of content and then have it be removed unexpectedly if you performed a resume import. Since it’s much more time-consuming to add content it is than delete content already on the profile, it’s intentionally done this way. I’ll think on the most effective way to handle this so it can be the bes

[2021-12-26 22:26] #58 closed

[2021-12-26 22:27] treyhuffine commented on #59
Thanks @wuiler! Let me think on this. I definitely could see the value of that. The resume feature originally wasn't part of gitconnected.com, so I hadn't considered this.

[2021-12-26 22:28] treyhuffine commented on #60
Thanks @g-kartik, could you share an example of what you mean?

[2021-12-28 04:42] DarshanSudhakar commented on #55
@treyhuffine Thank you so much for listening. Let let me know if you need any help with active development or testing. I am happy to contribute.

[2022-02-01 18:32] vincitaylaran opened #61 "Sections of a project are getting moved to the next page"
I want to save my resume as a PDF but one of my projects has its title detached from its description, link, and technologies.

![image](https://user-images.githubusercontent.com/37849496/152028854-12044c9e-70b0-494e-a1d6-ffb04d0b8254.png)

It would be great if the entire project was moved to the next page instead of parts of it when the maximum page space has been met.

[2022-02-04 17:43] florian0410 commented on #56
Maybe you could inspire from the way it is done in Linkedin. It sounds like they use [locale](https://docs.microsoft.com/en-us/linkedin/shared/references/v2/object-types#locale) object type.

https://docs.microsoft.com/en-us/linkedin/shared/references/v2/standardized-data/languages

[2022-02-04 17:48] florian0410 opened #62 "Being able to move skills using Click and grab"
Hello and thank you for your amazing website !!!

I was editing my profile imported from json when I realized I had too many skills and clicking on the up or down arrows was painful.

I wonder if it would be possible to include a click and drag feature to ease it.

[2022-02-04 18:20] florian0410 opened #63 "Use keywords to group by theme skills"
Hello and thank you again for this super tool !

I was thinking while editing it but it would be great if the keywords list we associate to skills was used to create themed section.

For example as follow:
![image](https://user-images.githubusercontent.com/10270633/152581835-a252414c-a772-4597-b072-87fbecb305ed.png)

We could imagine something like the first keyword define the main theme associate

[2022-02-06 14:31] guptamanish07 opened #64 "add achievement section"

[2022-02-08 17:16] florian0410 commented on #63
After further investigations, I discovered that a lot of [jsonresume ](https://jsonresume.org/themes/) templates already use this field as I propose.

For example, the caffeine template from the official webpage of the project: https://themes.jsonresume.org/theme/caffeine

Instead of grouping using keywords, it sounds like the keywords is being used to define tools or other information linked to t

[2022-02-17 03:50] g-kartik opened #65 "[Feature Request] - Add hyperlink to words in the resume"
We would love to have the feature where we can add hyperlink to any word  in the resume.
Thanks

[2022-03-20 08:00] nxdy opened #66 "Unable to sign up"
Couldn't sign up via Github. Received internal server error:
`{"statusCode":500,"error":"Internal Server Error","message":"An internal server error occurred"}`

Response Headers:
[code]

Request Headers:
[code]

<img width="1068" alt="image" src="https://user-images.githubusercontent.com/20063198/159153424-56aac5c7-30eb-4adc-83f6-a74f888e3cf0.png">

[2022-04-07 11:34] smohsensh opened #67 "Adding Google Scholar Profile"
I like to add my Google Scholar profile to my resume too. But there is no option for this or either a custom generic website

[2022-04-18 09:58] OlaoluwaM opened #68 "Cannot re-order projects"
I cannot seem to reorder or remove projects from my resume

[2022-04-27 22:52] deven96 opened #69 "Cannot download pdf"
Tried downloading resume as PDF on mobile and nothing happened

[2022-04-29 15:42] graynk commented on #63
I'd love to have these keywords in my resume PDF, as mentioned above: a lot of jsonresume templates have this

[2022-05-22 00:53] Sergio16T opened #70 "Feature Request: Add Multiple Positions in one company connected without having to repeat title."
This would be a great feature add!

[2022-06-01 13:10] fadhilx opened #71 "Future Request: Update Portfolio via API"
right now we can just read the API, but what if we already have a website as data center, and we want to update gitConnected portfolio from there. it will be nice if we can send update by calling the API using POST/PUT method like this:

[code]
request body:
[code]
We might need authorization token in request header(which can be obtain on profile page):
`Authorization: Bearer PJeBmgq0rKDZhzjcjHO..

[2022-06-05 20:42] gladishd opened #72 "Signup Link"
The first time you sign up, the overlay contains a link to Build Profile except we are already on https://gitconnected.com/gladishd, and therefore the Build Profile link takes us to the page which we are already on. Someone confirm? Thanks.

[2022-08-11 18:15] bgalvao opened #73 "Different email?"
So I use my gmail as a burner slut email to all services out there that either require a gmail or make it convenient to have gmail.

Then I have my other email that I want to use as an inbox from real people (no newsletters, no promotions, no app notifications, etc).

This is the email that I want to appear in my resume, but I went to the email section and could not add another email manually.

[2022-09-23 18:04] pmcnano opened #74 "[Feature Request] Allow domain cname setup"
Would be nice if you would setup a domain/subdomain to your resume page. That way you simply give your domain and you are done :smile:

I currently set my subdomain to redirect to it, but would be nicer if it wasn't a redirection.

[2022-10-22 00:34] jhilker1 commented on #66
I've also been able to confirm this.

[2022-11-17 06:50] ishanvyas22 commented on #66
Same issue. Any update on this please?

[2022-11-24 18:24] sergey-gru opened #75 "Expand skills on the printed page"
Hello! I really enjoy editing the summary here!
Thanks to the creators! This is the best resource I have ever seen!

The only thing that stops me from pointing one link to this resume is the lack of detailed skills on the printed page.

See how modest the skills section looks here.
[CV on gitconnected](https://gitconnected.com/sergey-gru/resume)

And how easy it is to read competencies in one temp

[2022-11-24 18:37] sergey-gru opened #76 "More flexible editing of the "profiles" section"
I would like to specify additional contacts for communication, for example Telegram or WhatsApp. I can't think of anything better than to indicate it as a social network account using the "profile" section. However, I cannot add a username and account to a social network that is not in the list.

It would be cool if you could add any other social networks as described in the jsonresume standard.